<nav class="nav">
  <div class="nav__wrapper">
    <a routerLink="/" class="nav__brand">
      <img src="../../assets/code.png" alt="code" class="nav__icon">
      <h1 class="nav__brand__title">TECHY</h1>
    </a>

    <input type="checkbox" class="nav__checkbox" id="navCheck">

    <label for="navCheck" class="nav__hamburger">
      <span class="nav__line nav__line--1"></span>
      <span class="nav__line nav__line--2"></span>
      <span class="nav__line nav__line--3"></span>
    </label>

    <div class="nav__header">
      <a routerLink="/developers" class="nav__link">Developers</a>
      <a routerLink="/" class="nav__link">Posts</a>
      <a routerLink="/auth" class="nav__link nav__link--auth">Sign In<span class="nav__link--auth--span"></span>Up</a>
    </div>
  </div>
</nav>
