@import '../../../styles.scss';

// the complete section in a form tag
.write {
  height: 170vh;
}

// upper part of the section
.wrapper {
  height: 15%;
  background-color: $navy-light;
  // wrapper for upper part
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 80%;
    width: 50%;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.1rem solid white;
  }

  // wrapper around the text part
  &__wrapper {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    font-family: $roboto;
    font-size: 2rem;
    color: $slate-light;
    text-align: center;
  }

  &__subtitle {
    font-family: $oxanium;
    font-size: 1.5rem;
    color: $slate-light;
    text-align: center;
  }

  // wrapper for the image
  &__image {
    height: 90%;
    width: 25%;
    border-radius: 50%;
    background-color: $navy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5rem dashed $navy-light;
  }

  // label & also the image
  &__label {
    height: 98%;
    width: 95%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: .1rem solid white;
    &--img {
      border-radius: 50%;
      position: relative;
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}

input[type='file'] {
  visibility: hidden;
}

.form {
  height: 85%;
  background-color: $navy;
}
