@import "../../../styles.scss";

.alert {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  height: 3vh;
  border-radius: .2rem;
  box-shadow: 0rem .1rem .3rem black;
  position: relative;
  letter-spacing: .2rem;
  color: $slate-light;
  margin: 1.5rem 0rem;
  left: 50%;
  transform: translateX(-50%);
  &--success {
    background-color: darkgreen;
  }
  &--danger {
    background-color: $pink;
  }
  @include respond(phone) {
    letter-spacing: 0rem;
    font-size: 1.8rem;
  }
}
